body {
  background: #96c9eb;
  height: 70vh;
}
header {
  background: #073b5e;
}
.footer {
  background: #073b5e;
}

img {
  height: 630px;
  width: 630px;
}
.login-container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}
.login-form {
  margin: auto 0;
  width: 450px;
}
h2 {
  color: #073b5e;
}
.admin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-icon {
  width: 48px;
  height: 48px;
}
